@use '../abstracts' as *;

.card {
  max-width: 32.7rem;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0px 40px 40px -20px hsla(228, 87%, 40%, 0.152);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  z-index: 10;

  @media (min-width: $breakpoint-lg) {
    max-width: 45rem;
  }

  &-body {
    margin: 2.4rem;
    text-align: center;

    @media (min-width: $breakpoint-lg) {
      margin: 4.5rem 4.8rem;
    }

    &__title {
      font-size: 2.2rem;
      margin-bottom: 1.6rem;
      color: var(--color-dark-blue);
      font-weight: 900;

      @media (min-width: $breakpoint-lg) {
        font-size: 2.8rem;
      }
    }

    &__text {
      font-size: 1.5rem;
      font-weight: 500;
      color: var(--color-desaturated-blue);
      line-height: 1.66;
      margin-left: 0.8rem;
      margin-right: 0.8rem;

      @media (min-width: $breakpoint-lg) {
        font-size: 1.6rem;
        margin: 0;
        max-width: 35rem;
      }
    }

    &__plan {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1.6rem;
      background: var(--color-very-pale-blue);
      border-radius: 1.1rem;
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;

      @media (min-width: $breakpoint-lg) {
        padding: 2.5rem 2.4rem;
      }
    }
  }

  .plan {
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 2rem;
    }

    &-info {
      &__title {
        font-size: 1.4rem;
        color: var(--color-dark-blue);
        font-weight: 900;

        @media (min-width: $breakpoint-lg) {
          font-size: 1.6rem;
        }
      }

      &__text {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--color-desaturated-blue);

        @media (min-width: $breakpoint-lg) {
          font-size: 1.6rem;
        }
      }
    }
  }

  .plan-action {
    a {
      font-size: 1.3rem;
      font-weight: bold;
      color: var(--color-bright-blue);
      transition: var(--transition);
      text-decoration: none;

      @media (min-width: $breakpoint-lg) {
        font-size: 1.4rem;
      }

      &::after {
        content: '';
        display: block;
        margin-top: -4px;
        border-bottom: 1px solid var(--color-bright-blue);
        opacity: 1;
        transition: var(--transition);
      }

      &:hover {
        color: hsl(245, 83%, 68%);
      }

      &:hover::after {
        opacity: 0;
      }
    }
  }

  .card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 1rem;
  }

  .btn {
    text-decoration: none;
    font-weight: 900;
    font-size: 1.5rem;

    &-primary {
      width: 100%;
      padding: 1.5rem;
      border-radius: 11px;
      background: var(--color-bright-blue);
      color: var(--color-white);
      box-shadow: 0px 20px 20px hsla(245, 75%, 52%, 0.19);
      transition: var(--transition);

      &:hover {
        background: hsl(245, 83%, 68%);
      }
    }

    &-cancel {
      color: var(--color-desaturated-blue);
      transition: var(--transition);

      &:hover {
        color: var(--color-dark-blue);
      }
    }
  }
}
